* {
    box-sizing: border-box;
}

.container-show {
    width: 100%;
    height: 100vh;
background-color: red;
}
.data-show {
    height: 90vh;
    margin: 20px 20px 20px 20px;
    background-color: blue;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
 .create {
   border-radius: 10px;
 }