<div class="header__image">
    <div class="header__title">
    <h1>Prise de sang</h1>
    <h2>22/11/2020</h2>
    </div>
</div>
<div class="container-show">
    <div class="data-show">
        <p>test</p>
    </div>
</div>