<div class="logo-home">
  <h1>IZIA</h1>
</div>

<div>
  <div class="slogan">
    <h1 class="title">Maîtrisez vos analyses médicales</h1>
  </div>

  <div class="begin">

    <% if @user = true %>
    <%= link_to "Entrez vos données", new_appointment_path, class: "btn btn-light" %>
    <% else  %>
    <%= link_to "Entrez vos données", user_session_path, class: "btn btn-light" %>
    <% end %>
  </div>

</div>

