* {
    box-sizing: border-box;
}

.container-show {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding-top: 20px;
}

.data-show {
    padding: 20px 0;
    margin: 0px 20px 20px 20px;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
}

.data-show > h2{
color: black;
font-size: large;
font-weight: bold;
padding-top: 30px;
}

.data-show > a{
text-decoration: none;
margin-bottom: 200px;
}

.taux {
    display: flex;
    padding: 0 85px;
    justify-content: space-between;
    align-items: center;
}

.data-hemo {
    color: blue;
    font-size: 50px;
}

.type-hemo {
    font-size: 30px;
}

.graph {
    display: flex;
    align-items: center;
    padding: 0 45px 20px 45px;
}

.dark {
    background-color: black;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.rec1 {
    width: 300px;
    height: 15px;
}

.rec2 {
    width: 150px;
    height: 15px;
}

.rec3 {
    width: 80px;
    height: 15px;
}

.dots {
    display: flex;
    align-items: center;
    padding: 0 45px;
    justify-content: space-between;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dots-title {
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.recomandation {
    font-size: 20px;
    text-align: left;
    padding: 10px 0 10px 10px;
}

.bloc-result {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.title-result {
    font-size: large;
    font-weight: bolder;
}

.log1 {
    width: 25px;
    height: 25px;
    background-color: #B4F4C4;
    border-radius: 20%;
}

.log2 {
    width: 25px;
    height: 25px;
    background-color: #94ddef;
    border-radius: 20%;
}

.log3 {
    width: 25px;
    height: 25px;
    background-color: #f77b7b;
    border-radius: 20%;
}

.log4 {
    width: 25px;
    height: 25px;
    background-color: #f77b7b;
    border-radius: 20%;
}

    // height: 90vh;
    // margin: 20px 20px 20px 20px;
    // background-color: blue;


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

