<div class="header__image">
  <div class="header-opacity">
    <div class="header__title">
      <h1>Mes Résultats</h1>
    </div>
  </div>
</div>


<div>

    <div class="col">
          <% @appointments.each do |appointment| %>
        <div class="card">

            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title"><%= appointment.test.name%></h5>
                </div>
              </div>
                <%= link_to "En savoir plus", appointment_path(appointment), class: "card-link" %>
            </div>
      </div>
        <% end %>
    </div>
</div>


