<div class="header__image">
  <div class="header-opacity">
    <div class="header__title v-center">
      <h1>Mes Résultats</h1>
    </div>
  </div>
</div>

<div class="appointments-container">
  <div class="col">
    <% @appointments.each do |appointment| %>
      <div class="card">
        <div class="card-body">
          <div class="card-logo-title">
            <i class="fas fa-tint"></i>
            <div class="card-title"><h3><%= appointment.test.name %></h3></div>
          </div>
          <div class="card-date-detail">
            <p class="card-subtitle"><%= appointment.datetime.strftime("%d/%m/%Y") %></p>
            <%= link_to "Détails", appointment_path(appointment), class: "btn btn-outline-warning mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
